/* Задаем стили срабатывающие при нажатии на кнопку темной темы*/
:root.theme-dark {
  --background-color: #000028;
  --main-font-family: "IBM Plex Mono", monospace;
  --main-sections-text-color: #f1b2ce;
  --decorated-text-color: #000028;
  --header-main-color: #db00ff;
  --after-before-color: #ff0070;
  --color-main-title: #ff0070;
  --color-for-button: #ff0070;
  --color-decorated: #ff0070;
  --color-for-rec: #ff0070;
  --color-anchor-link: #f1b2ce;
  --color-shadow-and-focus: #ff0070;
  --background-image: url("../images/cover-image-dark.png");
  --button-outline-hover-opacity: rgba(255, 0, 112, 0.4);
}

.theme-dark .rec {
  display: block;
}
/* Задаем стили срабатывающие при выборе темной темы в системе*/
@media (prefers-color-scheme: dark) {
  :root.theme-dark {
    --background-color: #000028;
    --main-font-family: "IBM Plex Mono", monospace;
    --main-sections-text-color: #f1b2ce;
    --decorated-text-color: #000028;
    --header-main-color: #db00ff;
    --after-before-color: #ff0070;
    --color-main-title: #ff0070;
    --color-for-button: #ff0070;
    --color-decorated: #ff0070;
    --color-for-rec: #ff0070;
    --color-anchor-link: #f1b2ce;
    --color-shadow-and-focus: #ff0070;
    --background-image: url("../images/cover-image-dark.png");
    --button-outline-hover-opacity: rgba(255, 0, 112, 0.4);
  }

  .rec {
    display: block;
  }
}
