/* Задаем стили срабатывающие при нажатии на кнопку светлой темы*/
:root.theme-light {
  --background-color: #fff1f7;
  --main-sections-text-color: #353430;
  --decorated-text-color: #353430;
  --header-main-color: #ffc2e6;
  --after-before-color: #353430;
  --color-main-title: #353430;
  --color-for-button: #353430;
  --color-decorated: #ff8dcb;
  --color-anchor-link: #f1b2ce;
  --color-shadow-and-focus: #ff8dcb;
  --background-image: url("../images/cover-image-light.png");
}

.theme-light .rec {
  display: none;
}

/* Задаем стили срабатывающие при выборе светлой темы в системе*/
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --main-sections-text-color: #353430;
    --decorated-text-color: #353430;
    --header-main-color: #ffc2e6;
    --after-before-color: #353430;
    --color-main-title: #353430;
    --color-for-button: #353430;
    --color-decorated: #ff8dcb;
    --color-anchor-link: #f1b2ce;
    --color-shadow-and-focus: #ff8dcb;
    --background-image: url("../images/cover-image-light.png");
  }

  .rec {
    display: none;
  }
}
